* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

:root {
  --blue: rgba(47, 175, 201, 0.855);
  --grey: rgba(57, 62, 70, 0.803);
  --white: rgba(238, 238, 238, 0.833);
  --black: rgba(34, 40, 49, 0.869);
  --yellow: rgba(244, 207, 20, 0.816);
}

body {
  background-color: rgba(36, 39, 44, 0.518);
}

/* header */
header {
  background-color: rgb(57, 62, 70);
  margin-bottom: 1em;
  border-bottom: 5px solid var(--yellow);
}

h1 {
  color: var(--white);
}

/* search aside section */
#form-heading {
  color: var(--black);
}

.weather-search {
  padding: 3px;
  width: 100%;
  border: 2px solid var(--blue);
}

#search-button,
#clear-button {
  background-color: var(--grey);
  width: 100%;
  border-radius: 5px;
}

#search-button:hover {
  background-color: var(--white);
  color: var(--grey);
  transition: 0.3s;
}

#clear-button:hover {
  background-color: var(--white);
  color: var(--grey);
  transition: 0.3s;
}

.error {
  margin-top: 10px;
  display: none;
  color: var(--yellow);
}

.list-group button {
  background-color: var(--white);
  font-size: 20px;
  padding: 1em 0;
  margin-bottom: 10px;
  border-radius: 5px;
}

.list-group button:hover {
  background-color: var(--yellow);
  transition: 0.3s;
}

/* todays weather card */
.current-weather-icon {
  width: 140px;
  background-color: var(--blue);
  /* border: 2px solid var(--yellow); */
  border-radius: 50%;
  margin-bottom: 1em;
  /* box-shadow: 0px 0px 5px 1px var(--yellow); */
}

.card-body {
  text-align: center;
}

.todays-card {
  background-color: var(--white);
  box-shadow: 0px 0px 8px 2px var(--black);
}

.card-info {
  color: var(--black);
  font-size: 18px;
}

.city,
.temp {
  font-size: 30px;
  font-weight: bold;
}

/* 5 day forecast */
.forecast-card {
  background-color: var(--blue);
}
