* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.weather-icon {
  width: 25px;
  margin-right: 1em;
}

#current-weather-icon {
  width: 120px;
}

.card-body {
  text-align: center;
}
